/* Give your page a fun background color */
body{
  background-color:  #c4abdb;
}

/* Make the header and footer a different color from the background */
/* Align the h1 containing your name in the center of the header*/
/* Align the h1 containing your name in the center of the header*/
h1{
  background: linear-gradient(-90deg,#6f3022,#d6492b);
  text-align: center;
}

/* Make your p tag a different color and italic */
footer{
  background: linear-gradient(-90deg,  #d6492b,  #6f3022);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-style: italic;
}

/* Make your p tag a different color and italic */

/* Put a border around your image */
img{
  border: 1px solid #FFFF00;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  Align: center;
}

/* Change the font-family of your list */
ul{
  font-family: cursive;
}
